* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  position: relative;
  height: 100%;
  display: flex;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(41, 41, 41);
  z-index: 1;
  opacity: 1;
  transition: opacity 0.25s ease;
}

#loading.loaded {
  pointer-events: none;
  opacity: 0;
}

#code {
  display: flex;
  flex-direction: column;
}

#output {
  background-color: #242424;
}

#output-header {
  display: flex;
  height: 48px;
  padding: 0 0.5rem;
  align-items: center;
}

#output-header #run-tests {
  justify-self: flex-end;
}

#editor-container {
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#editor-container::-webkit-scrollbar {
  display: none;
}

#instructions {
  overflow-y: scroll;
}

.gutter.gutter-vertical,
.gutter.gutter-horizontal {
  background-color: rgb(63, 63, 63);
}

.gutter.gutter-vertical {
  cursor: row-resize;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.15rem;
  filter: brightness(1);
  transition: background-color 0.15s, filter 0.15s;
}

button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

button:active {
  filter: brightness(1);
}

button:focus,
button:active {
  outline: none;
}

.bg-blue {
  background-color: rgb(66, 126, 255);
}

button.bg-blue {
  color: white;
}

.markdown-body {
  padding: 1rem;
  font-size: 95%;
}

pre {
  padding: 1rem;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

pre code {
  color: inherit;
  font-family: 'SFMono-Regular', Consolas, Liberation Mono, Menlo, monospace;
}

#run-tests:disabled {
  cursor: not-allowed;
  filter: brightness(1);
  background-color: gray;
}

.token.function,
.token.attr-name,
.token.method.function.property-access {
  /* purple */
  color: #6f42c1;
}
.token.string,
.token.attr-value {
  /* dark blue */
  color: #032f62;
}
.token.comment {
  /* gray */
  color: #6a737d;
}
.token.number,
.token.boolean,
.token.keyword.null,
.token.property-access,
.token.dom.variable {
  /* blue */
  color: #005cc5;
}
.token.keyword,
.token.operator {
  /* red */
  color: #d73a49;
}
.token.tag,
.token.tag > .token.class-name {
  /* green */
  color: #22863a;
}
.token.tag > .token.punctuation {
  /* black */
  color: #24292e;
}
